
<div class="container">
 <div class="row">
   <div class= "col-xs-12 col-sm-6 col-sm-offset-3">
    <h1>All cocktails</h1>
    <% @cocktails.each do |cocktail| %>

    <p>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      <%= link_to 'supprimer', cocktail_path(cocktail), method: :delete %>
    </p>

    <% end %>

    <h3><%= link_to 'Create your own cocktail ', new_cocktail_path %></h3>

  </div>
</div>
</div>

